# Large data and outputs
output_files/
input_data/

# OS junk
.DS_Store
.Rhistory

# Raw sequencing data
*.fastq
*.fastq.gz
*.fq
*.fq.gz

# SRA cache
*.sra
ncbi/

# Large bioinformatics outputs
*.bam
*.sam
*.vcf
*.vcf.gz

.DS_Store
.Rhistory
